@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}

.marks .land {
  fill: #137B80;
  height: 100%;
  width: 100%;
}
.marks .sphere {
  fill: #eeeeeeb0;
}
.marks .interiors {
  fill: none;
  stroke: #43A4A8;
}
.marks .graticules {
  fill: none;
  stroke: #ffffffce;
}