@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap");
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
pre {
  font-size: 7em;
}
.sg{
  background-color: #EBE8E7;
}
.marks .sphere {
  fill: rgb(209, 206, 206);
}
.marks .land {
  fill: #ffffff;
  height: 100%;
  width: 100%;
}
.marks .interiors {
  fill: none;
  stroke:#EBE8E7;
  stroke-width: 1.75px;
}
.marks circle {
  fill: #7F95D1;
}
.marks .graticules {
  fill: none;
  stroke: #EBE8E7;
  stroke-width: 0.5px;
}
